In [ ]:
product = 'Laptop'
quantity = 100
price = 1799.5
total = quantity * price

In [3]:
print(f'Product  :{product:>10s}')
print(f'Quantity :{quantity:10d}')
print(f'Price    :{price:10.2f}')
print(f'Total    :{total:10.2f}')

Product  :    Laptop
Quantity :       100
Price    :   1700.00
Total    : 170000.00

In [5]:
names = ['Alan Turing', 'Ada Lovelace', 'Grace Hopper', 'Linus Torvalds']
ages = [20, 21, 21, 22]
grades = [9.0, 9.5, 8.5, 8.8]
print(f'{"Name":<20s}{"Age":>10s}{"Grade":>10s}')
print('-' * 40)
for i in range(len(names)):
    print(f'{names[i]:<20s}{ages[i]:>10d}{grades[i]:>10.1f}')

Name                       Age     Grade
----------------------------------------
Alan Turing                 20       9.0
Ada Lovelace                21       9.5
Grace Hopper                21       8.5
Linus Torvalds              22       8.8

In [6]:
# string functions: split, strip, join
def extract_name(name):
    # remove spaces
    name = name.strip()
    # split name by space
    words = name.split()
    last_name = words[0]
    first_name = words[-1]
    middle_name = ' '.join(words[1:-1]) # slicing
    return last_name, middle_name, first_name

In [13]:
name = input('Enter your name: ')
last_name, middle_name, first_name = extract_name(name)
print(f'Last name: |{last_name}|')
print(f'Middle name: |{middle_name}|')
print(f'First name: |{first_name}|')

Last name: |Le|
Middle name: |Van Do|
First name: |Minh|

In [15]:
mobile = '0913238872' # => '******8872'

def phone_coding(phone_number):
    last4digits = phone_number[-4:]
    first_part = '*' * len(phone_number[:-4])
    return first_part + last4digits

print(phone_coding(mobile))
mobile = '01-728102324545'
print(phone_coding(mobile))

******8872
***********4545