In [2]:
import pandas as pd

In [3]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df_cars = pd.DataFrame(mydataset)
print(df_cars, type(df_cars))

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2 <class 'pandas.core.frame.DataFrame'>

In [6]:
a = [1, 2, 3]
a_series = pd.Series(a)
print(a_series, type(a_series))
print(a_series[0])

0    1
1    2
2    3
dtype: int64 <class 'pandas.core.series.Series'>
1

In [8]:
a_series = pd.Series(a, index=['x', 'y', 'z'])
print(a_series)
print(a_series['y'])

x    1
y    2
z    3
dtype: int64
2

In [9]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df_cars = pd.DataFrame(mydataset)
print(df_cars)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [10]:
print(df_cars.loc[1])  # Accessing the second row

cars        Volvo
passings        7
Name: 1, dtype: object

In [ ]:
print(df_cars.loc[[0, 1]])  # Accessing the first row, second row

    cars  passings
0    BMW         3
1  Volvo         7

In [13]:
print(df_cars.loc[[0, 2]])

   cars  passings
0   BMW         3
2  Ford         2

In [15]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df_cars = pd.DataFrame(mydataset, index=['car1', 'car2', 'car3'])
print(df_cars)
print(df_cars.loc['car2'])  # Accessing the second row by label

       cars  passings
car1    BMW         3
car2  Volvo         7
car3   Ford         2
cars        Volvo
passings        7
Name: car2, dtype: object

In [19]:
# get header names
print(list(df_cars.columns))
# get a column
print(df_cars['cars'])
print(df_cars['passings'])

['cars', 'passings']
car1      BMW
car2    Volvo
car3     Ford
Name: cars, dtype: object
car1    3
car2    7
car3    2
Name: passings, dtype: int64

In [30]:
df_training = pd.read_csv('datab10.csv')
print(list(df_training.columns))  # Print column names
print(df_training.info())  # Print DataFrame info

['Duration', 'Pulse', 'Maxpulse', 'Calories']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  168 non-null    float64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 5.4 KB
None

In [25]:
print(df_training.describe())  # Print summary statistics

         Duration       Pulse    Maxpulse     Calories
count  168.000000  169.000000  169.000000   164.000000
mean    63.869048  107.461538  134.047337   375.790244
std     42.425357   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [32]:
print(df_training.isnull().sum())  # Count missing values in each column

Duration    1
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [33]:
df_training_cleaned = df_training.dropna()  # Drop rows with any missing values
print(df_training.isnull().sum())  # Check again for missing values
print(df_training_cleaned.isnull().sum())  # Check for missing values in cleaned DataFrame

Duration    1
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [ ]:
df_training.dropna(inplace=True)  # Drop rows with any missing values and store the result back in df_training
print(df_training.isnull().sum())  # Check again for missing values

Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [35]:
df_training = pd.read_csv('datab10.csv')
print(df_training.isnull().sum())  # Count missing values in each column again
print(df_training.describe())  # Print DataFrame info again

Duration    1
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
         Duration       Pulse    Maxpulse     Calories
count  168.000000  169.000000  169.000000   164.000000
mean    63.869048  107.461538  134.047337   375.790244
std     42.425357   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [ ]:
duration_mean = df_training['Duration'].mean()  # Calculate the mean of the 'duration' column
print(duration_mean)
# Fill missing values in 'duration' with the mean
df_training['Duration'].fillna(duration_mean, inplace=True)  
print(df_training.isnull().sum())  # Check for missing values again
# Fill missing values in 'Calories' with 0
df_training.fillna({'Calories': 0}, inplace=True)
print(df_training.isnull().sum())  # Check for missing values again

In [41]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
df_cars = pd.DataFrame(mydataset)
print(df_cars)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [43]:
# Add a new column 'speed'
df_cars['speed'] = [100, 120, 90]
print(df_cars)
df_cars_subset = df_cars[['cars', 'speed']]  # Create a subset with specific columns
print(df_cars_subset)

    cars  passings  speed
0    BMW         3    100
1  Volvo         7    120
2   Ford         2     90
    cars  speed
0    BMW    100
1  Volvo    120
2   Ford     90

In [44]:
# sort data frame by speed
df_cars_sorted = df_cars.sort_values(by='speed', ascending=False)
print(df_cars_sorted)

    cars  passings  speed
1  Volvo         7    120
0    BMW         3    100
2   Ford         2     90

In [45]:
df_cars_sorted = df_cars.sort_values(by='cars', ascending=True)
print(df_cars_sorted)

    cars  passings  speed
0    BMW         3    100
2   Ford         2     90
1  Volvo         7    120

In [48]:
#print(df_training.head(10))  # Print first 10 rows
# sort by Duration, then by Pulse
df_training_sorted = df_training.sort_values(by=['Duration', 'Pulse'], ascending=[True, False])
print(df_training_sorted.head(10))  # Print first 10 rows of the sorted DataFrame

     Duration  Pulse  Maxpulse  Calories
112      15.0    124       139     124.2
93       15.0     80       100      50.5
58       20.0    153       172     226.4
95       20.0    151       168     229.4
94       20.0    150       171     127.4
139      20.0    141       162     222.4
135      20.0    136       156     189.0
64       20.0    110       130     131.4
68       20.0    106       136     110.4
100      20.0     95       112      77.7

In [49]:
def strength(n_pulse):
    if n_pulse < 107:
        return 'weak'
    return 'strong'

In [50]:
# Add column 'Strength' based on 'Pulse'
df_training['Strength'] = df_training['Pulse'].apply(strength)
print(df_training.head(10))  # Print first 10 rows of 'Pulse' and 'Strength'

   Duration  Pulse  Maxpulse  Calories Strength
0      60.0    110       130     409.1   strong
1      60.0    117       145     479.0   strong
2      60.0    103       135     340.0     weak
3      45.0    109       175     282.4   strong
4      45.0    117       148     406.0   strong
5      60.0    102       127     300.0     weak
6      60.0    110       136     374.0   strong
7      45.0    104       134     253.3     weak
8      30.0    109       133     195.1   strong
9      60.0     98       124     269.0     weak

In [ ]:
# using lambda function to create 'Strength' column
df_training['Strength'] = df_training['Pulse'].apply(lambda x: 'weak' if x < 107 else 'strong')

In [ ]:
df_training_duration60 = df_training[df_training['Duration'] == 60]  # Filter rows where 'Duration' is 60
print(df_training_duration60.head(10))  # Print first 10 rows of the filtered DataFrame

In [56]:
df_training_duration60.drop(columns=['Strength'], inplace=True)  # Drop the 'Strength' column from the filtered DataFrame

/var/folders/10/3dssf0p51vzgb7zfm9xl0vrm0000gn/T/ipykernel_809/2079307585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_training_duration60.drop(columns=['Strength'], inplace=True)  # Drop the 'Strength' column from the filtered DataFrame

In [57]:
# drop the 'Strength' columndf_training.drop(columns=['Strength'], inplace=True)
df_training_grouped = df_training.groupby('Duration')
print(df_training_grouped.mean())  # Print mean of each group by 'Duration'
print(df_training_duration60.mean())  # Print mean of the filtered DataFrame where 'Duration' is 60

                 Pulse    Maxpulse     Calories
Duration
15.000000   102.000000  119.500000    87.350000
20.000000   125.000000  146.000000   151.600000
25.000000   152.000000  168.000000   244.200000
30.000000   109.812500  137.000000   192.125000
45.000000   107.485714  133.228571   257.622857
60.000000   106.089744  132.935897   326.067949
63.869048   109.000000  127.000000   382.000000
75.000000   122.500000  150.000000   325.400000
80.000000   123.000000  146.000000   643.100000
90.000000    93.750000  116.375000   541.800000
120.000000  100.000000  139.000000   666.833333
150.000000  101.500000  130.250000   939.400000
160.000000  109.500000  136.000000   943.700000
180.000000   93.666667  125.666667   733.600000
210.000000  122.500000  172.000000  1618.200000
270.000000  100.000000  131.000000  1729.000000
300.000000  108.000000  143.000000  1500.200000
Duration     60.000000
Pulse       106.089744
Maxpulse    132.935897
Calories    326.067949
dtype: float64

In [58]:
print(df_training_grouped['Pulse'].min())  # Print minimum 'Pulse' for each group by 'Duration'
print(df_training_duration60['Pulse'].min())  # Print minimum 'Pulse' for the filtered DataFrame where 'Duration' is 60

Duration
15.000000      80
20.000000      83
25.000000     152
30.000000      80
45.000000      90
60.000000      92
63.869048     109
75.000000     120
80.000000     123
90.000000      90
120.000000    100
150.000000     97
160.000000    109
180.000000     90
210.000000    108
270.000000    100
300.000000    108
Name: Pulse, dtype: int64
92

In [66]:
df_training = pd.read_csv('datab10.csv')
print(df_training['Calories'].isnull().sum())  # Count missing values in 'Calories' column
print('----')
# convert 'Calories' to numeric, forcing errors to 0
df_training['Calories'] = pd.to_numeric(df_training['Calories'], errors='coerce')
print(df_training['Calories'].isnull().sum())  # Check for missing values in 'Calories' after conversion
# fill missing values in 'Calories' with mode
mode_calories = df_training['Calories'].mode()[0]  # Get the mode of 'Calories'
print(mode_calories)  # Print the mode of 'Calories'
df_training['Calories'].fillna(mode_calories, inplace=True)
print(df_training['Calories'].isnull().sum())  # Check for missing values in 'Calories' after filling with mode

# print rows at index 141
print(df_training.iloc[141])  # Print the row at index 143

3
----
5
300.0
0
Duration     60.0
Pulse        97.0
Maxpulse    127.0
Calories    300.0
Name: 141, dtype: float64

/var/folders/10/3dssf0p51vzgb7zfm9xl0vrm0000gn/T/ipykernel_809/2031007327.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_training['Calories'].fillna(mode_calories, inplace=True)

In [68]:
df_training = pd.read_csv('datab10.csv')
print(df_training.isnull().sum())  # Count missing values in each column again
# get rows where 'Calories' is null
df_training_null_calories = df_training[df_training['Calories'].isnull()]
print(df_training_null_calories)  # Print rows where 'Calories' is null

Duration    1
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
     Duration  Pulse  Maxpulse  Calories
17       45.0     90       112       NaN
27       60.0    103       132       NaN
91       45.0    107       137       NaN
118      60.0    105       125       NaN
141      60.0     97       127       NaN

In [71]:
# Check doublicate rows
print(df_training.duplicated().sum())  # 
print(df_training.duplicated())
# using boolean indexing remove duplicate rows
df_training_no_duplicates = df_training.drop_duplicates()
print(df_training_no_duplicates.duplicated().sum())  # Check again for duplicates

7
0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool
0