In [1]:
# declare a list
a = [] # empty list
print(a)

[]

In [2]:
a = [1, 3, 10, 7] # list has 4 items
print(a)
print(len(a)) # number of items in the list

[1, 3, 10, 7]
4

In [3]:
a = [1, 'a', 0.5, [2, 3]] # list can contains items of any types
print(a)
print(len(a))

[1, 'a', 0.5, [2, 3]]
4

In [ ]:
a = ['John', 'Paul', 'George', 'Ringo']
print(a[0])  # positive index, start from 1 to n-1
print(a[2])
print(a[-1]) # negative index, start from -1 to -n
print(a[-3])

John
George
Ringo
Paul

In [ ]:
a[0] = 'Mike' # change item in the list
print(a)

['Mike', 'Paul', 'George', 'Ringo']

In [ ]:
# append item to the end
a.append('Anna')
print(a)

['Mike', 'Paul', 'George', 'Ringo', 'Anna']

In [7]:
# insert item at a position
a.insert(3, 'Tom')
print(a)

['Mike', 'Paul', 'George', 'Tom', 'Ringo', 'Anna']

In [8]:
print(a[6]) # error

IndexError: list index out of range

In [ ]:
print(a[-7]) # error

IndexError: list index out of range

In [11]:
a.remove('Tom')
print(a)

['Mike', 'Paul', 'George', 'Ringo', 'Anna']

In [ ]:
b = [1, 2, 4, 5, 2, 3, 2, 7]
b.remove(2) # remove the 1st occurence of 2
print(b)

[1, 4, 5, 2, 3, 2, 7]

In [ ]:
b.remove(10) # error because 10 is not in the list

ValueError: list.remove(x): x not in list

In [ ]:
b.pop() # remove the last item
print(b)

[1, 4, 5, 2, 3, 2]

In [ ]:
b.pop(0) # remove the item at index 0
print(b)

[4, 5, 2, 3, 2]

In [16]:
b.pop(-1)
b.pop(-1)
print(b)

[4, 5, 2]

In [17]:
b.clear()
print(b)

[]

In [24]:
print(a)
b = a[1:3] # get a[1], a[2]
print(b)
b = a[0:3] # get a[0], ... a[2]
print(b)
b = a[:3]  # hide default 0
print(b)
b = a[2:5]
print(b)
b = a[2:]  # hide default end
print(b)
b = a[:]
print(b)

['Mike', 'Paul', 'George', 'Ringo', 'Anna']
['Paul', 'George']
['Mike', 'Paul', 'George']
['Mike', 'Paul', 'George']
['George', 'Ringo', 'Anna']
['George', 'Ringo', 'Anna']
['Mike', 'Paul', 'George', 'Ringo', 'Anna']

In [25]:
if a == b:
    print('2 lists equal')
else:
    print('2 lists are not equal')

2 lists equal

In [26]:
a[0] = 'John' 
print(a)
print(b) # b[0] still Mike

['John', 'Paul', 'George', 'Ringo', 'Anna']
['Mike', 'Paul', 'George', 'Ringo', 'Anna']

In [27]:
if a == b:
    print('2 lists equal')
else:
    print('2 lists are not equal')

2 lists are not equal

In [29]:
a[0] = 'Mike'
c = a
print(a, b, c, sep='\n')

['Mike', 'Paul', 'George', 'Ringo', 'Anna']
['Mike', 'Paul', 'George', 'Ringo', 'Anna']
['Mike', 'Paul', 'George', 'Ringo', 'Anna']

In [30]:
a[0] = 'John'
print(a, b, c, sep='\n')

['John', 'Paul', 'George', 'Ringo', 'Anna']
['Mike', 'Paul', 'George', 'Ringo', 'Anna']
['John', 'Paul', 'George', 'Ringo', 'Anna']

In [ ]:
# slice syntax a[start:end:step] default start = 0, end = n, step = 1
import random as rd
a = rd.sample(range(100), 10) # generate 10 random numbers from 0 to 99
print(a)

[17, 44, 75, 88, 54, 89, 60, 58, 25, 46]

In [32]:
a.sort()
print(a)

[17, 25, 44, 46, 54, 58, 60, 75, 88, 89]

In [33]:
a = rd.sample(range(100), 10)
print(a)
a.reverse()
print(a)

[9, 52, 87, 17, 64, 29, 35, 85, 10, 12]
[12, 10, 85, 35, 29, 64, 17, 87, 52, 9]

In [42]:
b = [1, 2, 4, 5, 2, 3, 2, 7]
print(b.count(2))
print(b)

3
[1, 2, 4, 5, 2, 3, 2, 7]

In [ ]:
print(b.index(2)) # 1
print(b.index(5)) # 3
print(b.index(10)) # error because 10 is not in the list

In [41]:
b.extend(['a', 'b'])
print(b)

[1, 2, 4, 5, 2, 3, 2, 7, 'a', 'b']

In [43]:
b = b + ['a', 'b']
print(b)

[1, 2, 4, 5, 2, 3, 2, 7, 'a', 'b']