**Phần 1: Khai báo thư viện và nhập xuất file**

1/ Khai báo thư viện

In [ ]:
# Khai báo thư viện Pandas
import pandas as pd
# Khai báo thư viện Numpy
import numpy as np
# Khai báo thư viện cho visualization
import matplotlib.pyplot as plt
# Khai báo thư viện cho xử lý date time
import datetime as dt

Đếm số lượng hàng trùng lặp

In [ ]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'An', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, 15.0, 12.5, 10.0, 15.0],
    'Tuoi': [20, 21, 22, 20, 24],
    'So thich': ['Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách', 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)

# Đếm số lượng hàng trùng lặp dựa trên tất cả các cột


# Đếm số lượng hàng trùng lặp dựa trên một số cột nhất định (ví dụ: 'Ten' và 'Tuoi')


# Hiển thị kết quả

Tính tần suất xuất hiện của các bản ghi trùng lặp

In [3]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'An', 'Linh', 'Binh', 'Cuong', 'An'],
    'Chi tieu hang thang (trieu dong)': [10.0, 15.0, 12.5, 10.0, 15.0, 15.0, 12.5, 10.0],
    'Tuoi': [25, 21, 22, 20, 24, 21, 22, 20],
    'So thich': ['Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách', 'Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)
print(df)
# Tính tần suất xuất hiện của các bản ghi trùng lặp dựa trên các cột 'Ten' và 'Tuoi'
df_freq = df.value_counts(subset=['Ten', 'Tuoi'])

# Hiển thị kết quả
print('-' * 50)
print(df_freq)

     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0    25  Đọc sách
1   Binh                              15.0    21  Xem phim
2  Cuong                              12.5    22  Đọc sách
3     An                              10.0    20  Đọc sách
4   Linh                              15.0    24  Đọc sách
5   Binh                              15.0    21  Xem phim
6  Cuong                              12.5    22  Đọc sách
7     An                              10.0    20  Đọc sách
--------------------------------------------------
Ten    Tuoi
An     20      2
Binh   21      2
Cuong  22      2
An     25      1
Linh   24      1
Name: count, dtype: int64

19/ Thay đổi cách giữ trùng lặp bằng cách kết hợp giá trị từ các hàng trùng lặp

In [ ]:
import pandas as pd
def tao_so_thich(list_so_thich):
    so_thich = list_so_thich.unique()
    str_so_thich = ', '.join(so_thich)
    return str_so_thich
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'An', 'Linh', 'Binh', 'Cuong', 'An'],
    'Chi tieu hang thang (trieu dong)': [10.0, 15.0, 12.5, 20.0, 15.0, 20.0, 15.0, 25.0],
    'Tuoi': [20, 21, 22, 20, 24, 21, 22, 20],
    'So thich': ['Đọc sách', 'Xem phim', 'Đọc sách', 'Xem phim', 'Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)
print(df)
# Kết hợp các giá trị từ các hàng trùng lặp
df = df.groupby(['Ten']).agg({
    'Chi tieu hang thang (trieu dong)': 'mean',
    'Tuoi': 'first',
    'So thich': lambda x: ', '.join(x.unique())
})

# Hiển thị DataFrame sau khi xử lý

     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0    20  Đọc sách
1   Binh                              15.0    21  Xem phim
2  Cuong                              12.5    22  Đọc sách
3     An                              20.0    20  Xem phim
4   Linh                              15.0    24  Đọc sách
5   Binh                              20.0    21  Xem phim
6  Cuong                              15.0    22  Đọc sách
7     An                              25.0    20  Đọc sách

20/ Tạo bản sao với hàng trùng lặp để kiểm tra và quyết định cách xử lý

In [5]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'An', 'Linh', 'Binh', 'Cuong', 'An'],
    'Chi tieu hang thang (trieu dong)': [10.0, 15.0, 12.5, 10.0, 15.0, 15.0, 12.5, 10.0],
    'Tuoi': [20, 21, 22, 20, 24, 21, 22, 20],
    'So thich': ['Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách', 'Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)

# Tạo bản sao chỉ chứa các hàng trùng lặp
df_duplicates = df[df.duplicated(subset=['Ten', 'Tuoi'], keep=False)].drop_duplicates()


# Hiển thị DataFrame chỉ chứa các hàng trùng lặp
print("DataFrame chỉ chứa các hàng trùng lặp:")
print(df_duplicates)

DataFrame chỉ chứa các hàng trùng lặp:
     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0    20  Đọc sách
1   Binh                              15.0    21  Xem phim
2  Cuong                              12.5    22  Đọc sách

**Xử lý dữ chuỗi**

Chuyển đổi tất cả các tên thành chữ thường

In [ ]:
import pandas as pd

# Ví dụ về dữ liệu khách hàng
data = {'Tên khách hàng': ['Nguyen Van A', 'Tran thi B', 'LE VAN C']}
df = pd.DataFrame(data)

# Chuyển đổi tất cả các tên thành chữ thường

# Hiển thị DataFrame sau khi chuyển đổi

Loại bỏ khoảng trắng ở đầu và cuối

In [ ]:
import pandas as pd

# Ví dụ về dữ liệu khách hàng
data = {'Tên khách hàng': [' Nguyen Van A ', ' Tran thi B', 'LE VAN C ']}
df = pd.DataFrame(data)

# Loại bỏ khoảng trắng ở đầu và cuối

# Hiển thị DataFrame sau khi chuyển đổi

Tách họ và tên cuối cùng thành hai cột: "Họ và tên đệm" và "Tên"

In [ ]:
# Ví dụ về dữ liệu khách hàng
import pandas as pd

data = {'Tên khách hàng': ['Nguyen Van A', 'Tran Thi B', 'Le Van C']}
df = pd.DataFrame(data)

# Tách họ và tên cuối cùng thành hai cột: "Họ và tên đệm" và "Tên"

# Hiển thị DataFrame sau khi chuyển đổi

Tìm kiếm các sản phẩm có chứa từ 'iPhone'

In [ ]:
# Ví dụ về dữ liệu sản phẩm
data = {
    'Tên sản phẩm': ['iPhone 12', 'Samsung Galaxy S21', 'iPhone 13 Pro', 'Xiaomi Mi 11', 'iPad Air', 'iPhone SE'],
    'Giá': [20000000, 18000000, 25000000, 15000000, 12000000, 10000000]
}

# Tạo DataFrame từ dữ liệu
df_sanpham = pd.DataFrame(data)

# Tìm kiếm các sản phẩm có chứa từ 'iPhone'

# In kết quả

Thay thế chuỗi

In [ ]:
# Ví dụ về dữ liệu sản phẩm
data = {
    'Tên sản phẩm': ['iPhone 12', 'Samsung Galaxy S21', 'iPhone 13 Pro', 'Xiaomi Mi 11', 'iPad Air', 'iPhone SE'],
    'Giá': [20000000, 18000000, 25000000, 15000000, 12000000, 10000000]
}

# Tạo DataFrame từ dữ liệu
df_sanpham = pd.DataFrame(data)
# Thay thế từ 'iPhone' thành 'Apple iPhone'

# In kết quả

Chuyển đổi chuỗi dữ liệu ngày tháng

In [ ]:
import pandas as pd

# Tạo dữ liệu mẫu với cột ngày dạng object (chuỗi)
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'Dao', 'Linh'],
    'Ngay sinh': ['2023-01-01', '2022-12-15', '2021-06-30', '2020-08-21', '2019-11-11']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)

# Chuyển đổi cột 'Ngay sinh' từ dạng object sang datetime

# Hiển thị DataFrame sau khi chuyển đổi

# Hiển thị kiểu dữ liệu của cột 'Ngay sinh'

Tách lấy tháng và lưu vào cột mới 'Thang sinh'

In [ ]:
import pandas as pd

# Tạo dữ liệu mẫu với cột ngày đã chuyển đổi sang datetime
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'Dao', 'Linh'],
    'Ngay sinh': ['2023-01-01', '2022-12-15', '2021-06-30', '2020-08-21', '2019-11-11']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)

# Chuyển đổi cột 'Ngay sinh' từ dạng object sang datetime


# Tách lấy tháng và lưu vào cột mới 'Thang sinh'


# Hiển thị DataFrame sau khi thêm cột 'Thang sinh'

Tách lấy ngày và lưu vào cột mới 'Ngay sinh'

In [ ]:
import pandas as pd

# Tạo dữ liệu mẫu với cột ngày đã chuyển đổi sang datetime
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'Dao', 'Linh'],
    'Ngay sinh': ['2023-01-01', '2022-12-15', '2021-06-30', '2020-08-21', '2019-11-11']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)

# Chuyển đổi cột 'Ngay sinh' từ dạng object sang datetime

# Tách lấy ngày và lưu vào cột mới 'Ngay'

# Hiển thị DataFrame sau khi thêm cột 'Ngay'

***Chuẩn hóa dữ liệu***

Chuẩn hóa doanh thu về khoảng [0, 1] bằng giá trị Min Max

In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Dữ liệu doanh thu của các công ty
data = {'Công ty': ['A', 'B', 'C', 'D'],
        'Doanh thu': [20000000, 30000000, 15000000, 50000000]}

df = pd.DataFrame(data)
print(df)
# Chuẩn hóa doanh thu về khoảng [0, 1]
scaler = MinMaxScaler()
df['Doanh thu chuẩn hóa'] = scaler.fit_transform(df[['Doanh thu']])
# Hiển thị DataFrame sau khi chuẩn hóa
print(df)

  Công ty  Doanh thu
0       A   20000000
1       B   30000000
2       C   15000000
3       D   50000000
  Công ty  Doanh thu  Doanh thu chuẩn hóa
0       A   20000000             0.142857
1       B   30000000             0.428571
2       C   15000000             0.000000
3       D   50000000             1.000000

Chuẩn hóa theo phương pháp Z-score

In [7]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Dữ liệu doanh thu của các công ty
data = {
    'Công ty': ['A', 'B', 'C', 'D'],
    'Doanh thu': [20000000, 30000000, 15000000, 50000000]
}

df = pd.DataFrame(data)
print(df)
# Chuẩn hóa doanh thu theo phương pháp Z-score sử dụng StandardScaler
scaler = StandardScaler()
df['Doanh thu chuẩn hóa'] = scaler.fit_transform(df[['Doanh thu']])
# Hiển thị DataFrame sau khi chuẩn hóa
print(df)

  Công ty  Doanh thu
0       A   20000000
1       B   30000000
2       C   15000000
3       D   50000000
  Công ty  Doanh thu  Doanh thu chuẩn hóa
0       A   20000000            -0.652753
1       B   30000000             0.093250
2       C   15000000            -1.025755
3       D   50000000             1.585258

Sử dụng LabelEncoder để mã hóa dữ liệu phân loại

In [11]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Dữ liệu ngành nghề của các công ty
data = {
    'Công ty': ['A', 'B', 'C', 'D', 'E'],
    'Ngành nghề': ['Bất động sản', 'Công nghệ', 'Bất động sản', 'Công nghệ', 'Tài chính']
}

df = pd.DataFrame(data)
print(df)
df.info()
# Sử dụng LabelEncoder để mã hóa dữ liệu phân loại
le = LabelEncoder()
df['Ngành nghề'] = le.fit_transform(df['Ngành nghề'])

# Hiển thị DataFrame sau khi mã hóa
print(df)
df.info()

  Công ty    Ngành nghề
0       A  Bất động sản
1       B     Công nghệ
2       C  Bất động sản
3       D     Công nghệ
4       E     Tài chính
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Công ty     5 non-null      object
 1   Ngành nghề  5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes
  Công ty  Ngành nghề
0       A           0
1       B           1
2       C           0
3       D           1
4       E           2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Công ty     5 non-null      object
 1   Ngành nghề  5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

Sử dụng One-Hot Encoding để mã hóa dữ liệu phân loại

In [14]:
import pandas as pd

# Dữ liệu ngành nghề của các công ty
data = {
    'Công ty': ['A', 'B', 'C', 'D', 'E'],
    'Ngành nghề': ['Bất động sản', 'Công nghệ', 'Bất động sản', 'Công nghệ', 'Tài chính']
}

df = pd.DataFrame(data)
print(df)
# Sử dụng One-Hot Encoding để mã hóa dữ liệu phân loại lưu vào data frame mới
df_one_hot = pd.get_dummies(df['Ngành nghề'], prefix='Ngành nghề')

# Gộp data frame mới vào DataFrame chính
df = pd.concat([df, df_one_hot], axis=1)
# Hiển thị DataFrame sau khi gộp
df.head()

  Công ty    Ngành nghề
0       A  Bất động sản
1       B     Công nghệ
2       C  Bất động sản
3       D     Công nghệ
4       E     Tài chính

,Công ty,Ngành nghề,Ngành nghề_Bất động sản,Ngành nghề_Công nghệ,Ngành nghề_Tài chính
0,A,Bất động sản,True,False,False
1,B,Công nghệ,False,True,False
2,C,Bất động sản,True,False,False
3,D,Công nghệ,False,True,False
4,E,Tài chính,False,False,True

***Xử lý dữ liệu rời rạc***

Chia giá trị liên tục thành các khoảng xác định dùng pd.cut

In [ ]:
import pandas as pd

# Dữ liệu thu nhập
data = {'Tên': ['A', 'B', 'C', 'D', 'E'], 'Thu nhập (triệu VNĐ)': [50, 200, 300, 450, 600]}
df = pd.DataFrame(data)

# Phân loại thu nhập thành 3 nhóm: Thấp, Trung bình, Cao dùng pd.cut

print(df)

Chia thành các khoảng theo phân vị (các phần tủ bằng nhau) qcut

In [ ]:
import pandas as pd

# Dữ liệu thu nhập
data = {'Tên': ['A', 'B', 'C', 'D', 'E'], 'Thu nhập (triệu VNĐ)': [50, 200, 300, 450, 600]}
df = pd.DataFrame(data)

# Phân loại thu nhập theo 3 nhóm có số lượng phần tử bằng nhau với qcut