**Phần 1: Khai báo thư viện và nhập xuất file**

1/ Khai báo thư viện

In [1]:
# Khai báo thư viện Pandas
import pandas as pd
# Khai báo thư viện Numpy
import numpy as np
# Khai báo thư viện cho visualization
import matplotlib.pyplot as plt
# Khai báo thư viện cho xử lý date time
import datetime

2/ Kiểm tra thông tin của dữ liệu

In [8]:
import pandas as pd
# Ví dụ về dữ liệu sản phẩm
data = {
    'Tên sản phẩm': ['iPhone 12', 'Samsung Galaxy S21', 'iPhone 13 Pro', 'Xiaomi Mi 11', 'iPad Air', 'iPhone SE'],
    'Giá': [20000000, 18000000, 25000000, 15000000, 12000000, 10000000]
}

# Tạo DataFrame từ dữ liệu
df = pd.DataFrame(data)

# Kiểm tra 3 dòng đầu tiên
df.head(3)
# Kiểm tra thông tin chi tiết dữ liệu
df.info()
# Kiểm tra nhanh số hàng, số cột trong dữ liệu
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tên sản phẩm  6 non-null      object
 1   Giá           6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

(6, 2)

**Xử lý dữ liệu bị thiếu**

Điền giá trị thiếu bằng giá trị trung bình

In [12]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'Dao', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, None, 14, None, 15.0]
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)
df.info()

# Điền giá trị trung bình cho các ô bị thiếu trong cột 'Chi tieu hang thang (trieu dong)'
tb_chi_tieu = df['Chi tieu hang thang (trieu dong)'].mean()
print(tb_chi_tieu)
df['Chi tieu hang thang (trieu dong)'].fillna(tb_chi_tieu, inplace=True)
# Hiển thị DataFrame sau khi xử lý
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Ten                               5 non-null      object
 1   Chi tieu hang thang (trieu dong)  3 non-null      float64
dtypes: float64(1), object(1)
memory usage: 212.0+ bytes
13.0
     Ten  Chi tieu hang thang (trieu dong)
0     An                              10.0
1   Binh                              13.0
2  Cuong                              14.0
3    Dao                              13.0
4   Linh                              15.0

/var/folders/10/3dssf0p51vzgb7zfm9xl0vrm0000gn/T/ipykernel_35601/1556530711.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Chi tieu hang thang (trieu dong)'].fillna(tb_chi_tieu, inplace=True)

Điền giá trị thiếu bằng giá trị phổ biến nhất

In [17]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'Dao', 'Linh'],
    'So thich': ['Đọc sách', None, 'Đọc sách', 'Xem phim', None]
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)

# Điền giá trị phổ biến nhất cho các ô bị thiếu trong cột 'So thich'
mode_so_thich = df['So thich'].mode()[0]
print(mode_so_thich)
df['So thich'].fillna(mode_so_thich, inplace=True)
# Hiển thị DataFrame sau khi xử lý
print(df)

Đọc sách
     Ten  So thich
0     An  Đọc sách
1   Binh  Đọc sách
2  Cuong  Đọc sách
3    Dao  Xem phim
4   Linh  Đọc sách

/var/folders/10/3dssf0p51vzgb7zfm9xl0vrm0000gn/T/ipykernel_35601/363009244.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['So thich'].fillna(mode_so_thich, inplace=True)

Điền các giá trị thiếu bằng phương pháp nội suy cho tất cả các cột số

In [19]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'Dao', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, None, 12.5, None, 15.0],
    'Tuoi': [20, None, 22, None, 24]
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)
print(df)
# Điền các giá trị thiếu bằng phương pháp nội suy cho (interpolate) tất cả các cột số
df = df.interpolate()

# Hiển thị DataFrame sau khi xử lý
print(df)

     Ten  Chi tieu hang thang (trieu dong)  Tuoi
0     An                              10.0  20.0
1   Binh                               NaN   NaN
2  Cuong                              12.5  22.0
3    Dao                               NaN   NaN
4   Linh                              15.0  24.0
     Ten  Chi tieu hang thang (trieu dong)  Tuoi
0     An                             10.00  20.0
1   Binh                             11.25  21.0
2  Cuong                             12.50  22.0
3    Dao                             13.75  23.0
4   Linh                             15.00  24.0

/var/folders/10/3dssf0p51vzgb7zfm9xl0vrm0000gn/T/ipykernel_35601/2502593426.py:14: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df = df.interpolate()

Loại bỏ các hàng có hơn 50% giá trị bị thiếu

In [28]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'Dao', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, None, None, None, 15.0],
    'Tuoi': [20, None, 22, None, 24],
    'So thich': [None, 'Xem phim', None, None, 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)
print(df)
#Loại bỏ các hàng có hơn 50% giá trị bị thiếu
# threshold = len(df.columns) / 2
# print(threshold)
# df = df.dropna(thresh=threshold).reset_index(drop=True)

# Hiển thị DataFrame sau khi xử lý
#print(df)


# Loại bỏ các cột có hơn 50% giá trị bị thiếu
# Tính ngưỡng: yêu cầu ít nhất 50% số hàng có giá trị không thiếu
threshold = len(df) / 2

# Loại bỏ các cột có hơn 50% giá trị bị thiếu
df = df.dropna(axis=1, thresh=threshold).reset_index(drop=True)
print(df)

     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0  20.0      None
1   Binh                               NaN   NaN  Xem phim
2  Cuong                               NaN  22.0      None
3    Dao                               NaN   NaN      None
4   Linh                              15.0  24.0  Đọc sách
     Ten  Tuoi
0     An  20.0
1   Binh   NaN
2  Cuong  22.0
3    Dao   NaN
4   Linh  24.0

Xác định dòng có nhiều dữ liệu thiếu nhất và loại bỏ

In [32]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'Dao', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, None, None, None, 15.0],
    'Tuoi': [20, None, 22, None, 24],
    'So thich': [None, 'Xem phim', None, None, 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)
print(df)
# Tính tổng số giá trị thiếu trên mỗi dòng và tìm dòng có số lượng nhiều nhất
print(df.isnull().sum(axis=1))
max_missing = df.isnull().sum(axis=1).max()
id_max = df.isnull().sum(axis=1).idxmax()
# Loại bỏ dòng có nhiều dữ liệu thiếu nhất
df = df.drop(index=id_max).reset_index(drop=True)

# Hiển thị DataFrame sau khi xử lý
print(df)

     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0  20.0      None
1   Binh                               NaN   NaN  Xem phim
2  Cuong                               NaN  22.0      None
3    Dao                               NaN   NaN      None
4   Linh                              15.0  24.0  Đọc sách
0    1
1    2
2    2
3    3
4    0
dtype: int64
     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0  20.0      None
1   Binh                               NaN   NaN  Xem phim
2  Cuong                               NaN  22.0      None
3   Linh                              15.0  24.0  Đọc sách

Loại bỏ tất cả các hàng chứa bất kỳ giá trị nào bị thiếu

In [ ]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'Dao', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, None, 12.5, None, 15.0],
    'Tuoi': [20, None, 22, None, 24],
    'So thich': ['Đọc sách', 'Xem phim', None, None, 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)

# Loại bỏ tất cả các hàng chứa bất kỳ giá trị nào bị thiếu


# Hiển thị DataFrame sau khi xử lý

**Xử lý dữ liệu trùng lặp**

Loại bỏ các hàng trùng lặp hoàn toàn:

In [34]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'An', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, 15.0, 12.5, 10.0, 15.0],
    'Tuoi': [20, 21, 22, 20, 24],
    'So thich': ['Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách', 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)
print(df)

# Loại bỏ các hàng trùng lặp
df = df.drop_duplicates().reset_index(drop=True)

# Hiển thị DataFrame sau khi xử lý
print(df)

     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0    20  Đọc sách
1   Binh                              15.0    21  Xem phim
2  Cuong                              12.5    22  Đọc sách
3     An                              10.0    20  Đọc sách
4   Linh                              15.0    24  Đọc sách
     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0    20  Đọc sách
1   Binh                              15.0    21  Xem phim
2  Cuong                              12.5    22  Đọc sách
3   Linh                              15.0    24  Đọc sách

Loại bỏ trùng lặp dựa trên một hoặc một số cột:

In [36]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'An', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, 15.0, 12.5, 12.0, 15.0],
    'Tuoi': [20, 21, 22, 20, 24],
    'So thich': ['Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách', 'Đọc sách']
}
# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)
print(df)
# Loại bỏ các hàng trùng lặp dựa trên cột 'Ten' và 'Tuoi'
df = df.drop_duplicates(subset=['Ten', 'Tuoi']).reset_index(drop=True)

# Hiển thị DataFrame sau khi xử lý
print(df)

     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0    20  Đọc sách
1   Binh                              15.0    21  Xem phim
2  Cuong                              12.5    22  Đọc sách
3     An                              12.0    20  Đọc sách
4   Linh                              15.0    24  Đọc sách
     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0    20  Đọc sách
1   Binh                              15.0    21  Xem phim
2  Cuong                              12.5    22  Đọc sách
3   Linh                              15.0    24  Đọc sách

Giữ lại hàng cuối cùng thay vì hàng đầu tiên:

In [39]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'An', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, 15.0, 12.5, 12.0, 15.0],
    'Tuoi': [20, 21, 22, 20, 24],
    'So thich': ['Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách', 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)
print(df)
# Loại bỏ các hàng trùng lặp và giữ lại hàng cuối cùng
df = df.drop_duplicates(subset=['Ten', 'Tuoi'], keep='last').reset_index(drop=True)

# Hiển thị DataFrame sau khi xử lý
print("DataFrame sau khi giữ lại hàng cuối cùng cho các giá trị trùng lặp:")
print(df)

     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0     An                              10.0    20  Đọc sách
1   Binh                              15.0    21  Xem phim
2  Cuong                              12.5    22  Đọc sách
3     An                              12.0    20  Đọc sách
4   Linh                              15.0    24  Đọc sách
DataFrame sau khi giữ lại hàng cuối cùng cho các giá trị trùng lặp:
     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich
0   Binh                              15.0    21  Xem phim
1  Cuong                              12.5    22  Đọc sách
2     An                              12.0    20  Đọc sách
3   Linh                              15.0    24  Đọc sách

Đánh dấu các hàng trùng lặp mà không xóa chúng

In [40]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    'Ten': ['An', 'Binh', 'Cuong', 'An', 'Linh'],
    'Chi tieu hang thang (trieu dong)': [10.0, 15.0, 12.5, 10.0, 15.0],
    'Tuoi': [20, 21, 22, 20, 24],
    'So thich': ['Đọc sách', 'Xem phim', 'Đọc sách', 'Đọc sách', 'Đọc sách']
}

# Tạo DataFrame từ dữ liệu mẫu
df = pd.DataFrame(data)

# Đánh dấu các hàng trùng lặp mà không xóa chúng
df['douplicate'] = df.duplicated(subset=['Ten', 'Tuoi'], keep=False)

# Hiển thị DataFrame sau khi thêm cột 'is_duplicate'
print(df)

     Ten  Chi tieu hang thang (trieu dong)  Tuoi  So thich  douplicate
0     An                              10.0    20  Đọc sách        True
1   Binh                              15.0    21  Xem phim       False
2  Cuong                              12.5    22  Đọc sách       False
3     An                              10.0    20  Đọc sách        True
4   Linh                              15.0    24  Đọc sách       False