In [ ]:
# range function
# range(n): 0...n-1
# range(1, n+1): 1...n
# general range(start, end): start, start+1, ..., end-1

In [1]:
print(list(range(5)))
print(list(range(1, 5)))
print(list(range(10, 20)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# range(start, end, step): start, start + step, ... before end
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [3]:
# for is used to run a block of statements n times
for i in range(5):
    print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [6]:
# using loop variable in for
for i in range(1, 6):
    print(f'{i}. Hello World')

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World

In [10]:
# print n numbers from 1 to n
n = int(input('Enter n: '))
for i in range(1, n+1):
    print(i)

1
2
3
4
5

In [9]:
# sum from 1 to n
n = int(input('Enter n: '))
s = 0
for i in range(1, n+1):
    s += i

print(f'Sum from 1 to {n}: {s}')

Sum from 1 to 5: 15

In [14]:
# calculate product from 1 to n
n = 10
p = 1
for i in range(1, n+1):
    p *= i
print(f'Product from 1 to {n} = {p}')

Product from 1 to 10 = 3628800

In [ ]:
# use for loop to loop through characters in string
s = 'hello world'
for c in s:
    print(c)

h
e
l
l
o

w
o
r
l
d

In [18]:
for c in s:
    print(c, end='-')

h-e-l-l-o- -w-o-r-l-d-

In [19]:
# loop throug item in a list
names = ['John', 'Mike', 'Paul']
for name in names:
    print(name)

John
Mike
Paul