In [1]:
# define a function
def tinh_tong(a, b):
    c = a + b
    return c

In [4]:
# use a function
print(tinh_tong(4, 5))
c = tinh_tong(4, 5)
print(c)

9
9

In [ ]:
# function without parameter, no return
def hello_01():
    print('Hello World')

hello_01()
hello_01('John') # error

Hello World

TypeError: hello_01() takes 0 positional arguments but 1 was given

In [ ]:
# function with 1 parameter, no return
def hello_02(name):
    print(f'Hello {name}')

hello_02('John')
hello_02() # error

Hello John

TypeError: hello_02() missing 1 required positional argument: 'name'

In [ ]:
# demo scope of variables (local, global)
def swap(a, b):
    # a, b are local variable
    c = a # c is a local variable
    a = b
    b = c
    print(f'a = {a}, b = {b}')  

a = 4
b = 10
swap(a, b) # a, b are swapped but locally
print(f'a = {a}, b = {b}') # a, b in global are not changed

a = 10, b = 4
a = 4, b = 10

In [ ]:
# function has 2 parameters, return 2 values
def swap(a, b):
    c = a
    a = b
    b = c
    print(f'a = {a}, b = {b}')
    return a, b

a = 4
b = 10
a, b = swap(a, b)
print(f'a = {a}, b = {b}')

a = 10, b = 4
a = 10, b = 4

In [ ]:
# global variable can be accessed inside function
x = 10
def my_func():
    print(x)

my_func()

10

In [ ]:
x = 10
def my_func_02(x):
    print(x) # if global variable has same name as local => prefer local variable

my_func_02(20)

20

In [16]:
x = 10
def my_func_03():
    global x    # declare a global x
    x = 20
    print(x)

my_func_03()
print(x)

20
20

In [20]:
### PRACTICES ###   
# function calculate area of a circle
PI = 3.14
def circle_area(r):
    a = PI * r ** 2
    return a

r = 1.0
a = circle_area(r)
print(f'Area of a circle radius {r} = {a}')

Area of a circle radius 1.0 = 3.14

In [21]:
def check_even(n):
    if n % 2 == 0:
        print(f'{n} is even')
    else:
        print(f'{n} is odd')

check_even(10)
check_even(21)

10 is even
21 is odd

In [22]:
def is_even(n):
    return n % 2 == 0

n = 10
if is_even(n):
    print(f'{n} is even')
else:
    print(f'{n} is odd')

10 is even

In [27]:
# a function that check if a number n is a prime number
def is_prime(n):
    if n < 1:
        return False
    if n == 1 or n == 2:
        return True
    
    for i in range(2, int(n ** 0.5 + 1)):
        if n % i == 0:
            return False
        
    return True

print(is_prime(10))
print(is_prime(89))

False
True

In [49]:
def print_primes(n):
    for i in range(n):
        if is_prime(i):
            print(i, end=' ')

print_primes(10)
print()
print_primes(20)

1 2 3 5 7
1 2 3 5 7 11 13 17 19

In [28]:
s = 0
for n in range(100):
    if is_prime(n):
        s += n

print(f'Sum of prime numbers less than 100 is {s}')

Sum of prime numbers less than 100 is 1061

In [29]:
def print_mult_table(n):
    print(f'Multiplication of {n}')
    for i in range(1, 11):
        print(f'{i} x {n} = {i*n}')

In [30]:
print_mult_table(5)

Multiplication of 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [31]:
n = int(input('Enter n: '))
print_mult_table(n)

Multiplication of 6
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

In [33]:
# Ex: write a function to print a triangle of *
def print_triangle(n):
    for i in range(1, n+1):
        print('* ' * i)

print_triangle(4)
print()
print_triangle(5)

*
* *
* * *
* * * *

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Ex: write a function to print a triangle of any character
def print_triangle(n, c):
    for i in range(1, n+1):
        print(c * i)

print_triangle(4, '? ')
print_triangle(4, '# ')

In [39]:
b = 4
print(type(b))
b = '4'
print(type(b))

<class 'int'>
<class 'str'>

In [42]:
# positional paramenter and keyword parameter
def print_triangle(n, c='* '):
    for i in range(1, n+1):
        print(c * i)

print_triangle(3) # c = '* ' by default
print_triangle(4, '! ') # c = '! '

*
* *
* * *
!
! !
! ! !
! ! ! !

In [ ]:
# n - positional parameter
# c, reversed: keyword parameter
def print_triangle(n, c='* ', reversed=False):
    if not reversed:
        for i in range(1, n+1):
            print(c * i)
    else:
        for i in range(1, n+1):
            print(c * (n - i + 1))

print_triangle(3)
print_triangle(4, '% ', True)

*
* *
* * *
% % % %
% % %
% %
%

In [ ]:
# keyword arguments can be any order, as long as after positional argument
print_triangle(4, reversed=True, c=') ')

) ) ) )
) ) )
) )
)

In [ ]:
def print_menu():
    print('1. Print primes.')
    print('2. Print multiplecation table.')
    print('3. Print triangle of characters.')
    print('0. Exit.')

In [52]:
def main():
    running = True
    while running:
        # ask user to enter n
        n = int(input('Enter n: '))
        # print menu
        print_menu()
        # ask user to choose an option
        choice = int(input('Enter your choice: '))
        # do a task based on option
        if choice == 1:
            print_primes(n)
        elif choice == 2:
            print_mult_table(n)
        elif choice == 3:
            print_triangle(n)
        elif choice == 0:
            running = False
        else:
            print('Invalid choice')

In [53]:
main()

1. Print primes.
2. Print multiplecation table.
3. Print triangle of characters.
1 2 3 1. Print primes.
2. Print multiplecation table.
3. Print triangle of characters.
Multiplication of 10
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
1. Print primes.
2. Print multiplecation table.
3. Print triangle of characters.
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
1. Print primes.
2. Print multiplecation table.
3. Print triangle of characters.